* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Myriad", sans-serif;
  font-style: italic;
  background-color: White;
  color: #19197c;
}


/******************************************************************************
                            MOBILE HEADER
*******************************************************************************/

header {
  /* Totale header: */
  margin-top: 35px;
  height: 7rem;
  display: inline-block;
}

header a {
  /* Alle linkjes in de header: */
  color: Black;
}

header nav {
  /* Totale navigatie van de header: */
  padding: 1rem 0rem;
  padding-top: 0rem;
}

header a:nth-child(3) {
  /* Je 'Zoeken' knop in header, op hidden */
  visibility: hidden;
  font-style: normal;
  font-weight: lighter;
  letter-spacing: 0.03rem;
  text-decoration: none;
  max-width: 3.5em;
  position: absolute;
  top: 5px;
  margin-right: 16em;
}

header a:nth-child(5) {
  /* Je 'Inloggen' a knop in de header, op hidden */
  visibility: hidden;
  position: absolute;
  right: 0;
}
header nav a img {
  /* Het RABOBANK logo: */
  margin: 1.5rem 0rem 0rem 1rem ;
  max-width: 135px;
  margin-bottom: 18px;
}

header nav ul {
  /* Alle ul's van de navigatie */
  list-style-type: none;
  display: flex;
  margin-left: 1rem;
}

header nav ul li {
  /* Alle list items van de navigatie die in een ul zitten */
  padding: 0.5rem 2rem 0rem 0rem;
  margin-top: 0.5rem;
  font-style: normal;
  font-weight: lighter;
  letter-spacing: 0.03rem;
}

header nav ul li a {
  text-decoration: none;
}

header nav ul li ul {
  z-index: 99999;
  position: absolute;
  /* width: 90%; */
  /*Breedte van dropdown menu, moet nog naar gekeken worden.*/
  display: none;
  text-align: left;
  background-color: White;
  box-shadow: 5px 10px 20px #888888;
  /*BRON: https://developer.mozilla.org/en-US/docs/Web/CSS/box-shadow*/
}

header nav ul li ul li {
  padding: 0.7rem 0rem;
}

header nav li a:hover {
  text-decoration: underline;
}

header ul li:hover>ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
  text-align: left;
}

header nav ul li ul li:nth-of-type(20) {
  padding-bottom: 10px;
}

.icons {
  max-width: 18px;
  position: absolute;
  top: 65px;
  right: 0;
  margin-right: 60px;
}

.icons1 {
  max-width: 18px;
  position: absolute;
  top: 65px;
  right: 0;
  visibility: visible;
  margin-right: 21px;
}

.drop {
  font-weight: bold;
}

.icons:hover {
  margin-right: 56px;
  transition-duration: 250ms;
}

.dropdownlijst {
  display: block;
  position: absolute;
  top: 147px;
  left: -5rem;
  width: 100%;
  height: auto;
  background: #fff;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
  border-bottom: 1px solid #000;
  padding: 40px;
}

header nav ul li:hover .dropdownlijst {
  opacity: 1;
  visibility: visible;
  z-index: 10;
}

header nav ul li div div div {
  vertical-align: top;
  width: 200px;
  margin-right: 1%;
  padding: 0rem 0rem 2rem 1rem;
}

header nav ul li div div p {
  padding: 4px 0;
  transition: all 0.4s ease;
}

header nav ul li div div p a {
  font-size: 0.9rem;
}

.tussenruimte {
  margin-left: 3rem;
}

/*    INLOGGEN    */
.topheader {
  font-size: 0.8em;
  width: 100%;
  height: auto;
  background-color: #E3e3e3;
  position: absolute;
  left: 0;
  top: 0;
}
.topheader ul li  {
  margin: 6px;
  display: inline-block;
}
.topheader ul li:last-of-type {
  position: absolute;
  right: 10px;
}
.topheader ul li a {
  color: #1b1b1b;
  text-decoration: none;
}

/*    INLOGGEN    */
.inloggen {
  width: 300px;
  background-color: blue;
  position: absolute;
  right: 0;
  top: 0;
}
.inloggen a:nth-of-type(1) {
  /*Icons   */
 background-color: green;
}.inloggen a:nth-of-type(2) {
 background-color: green;
}.inloggen a:nth-of-type(3) {
 background-color: green;
}.inloggen a:nth-of-type(4) {
 background-color: green;
}
/******************************************************************************
                            MOBILE CONTENT index pagina
*******************************************************************************/

h1 {
  /* Alle H1'tjes van de pagina: */
  font-size: 2.5em;
}

h2 {
  font-size: 1.8125em;
  margin-top: 3.8rem;
  text-align: center;
  font-weight: normal;
}

h3 {
  /* Alle H3'tjes van de pagina */
  margin: 0 auto;
  max-width: 38ch;
  font-size: 1.4em;
  font-weight: normal;
}

section a {
  color: #19187C;
}

h2:first-of-type {
  /* Eerste H2'tje van de pagina: */
  /* BRON: https://css-tricks.com/almanac/selectors/f/first-of-type/ */
  margin: 1.8rem 0rem 1rem 0rem;
}

section a:hover {
  color: #FD6400;
}

section:nth-of-type(2) a {
  font-size: 1.17rem;
  display: flex;
  flex-direction: column;
  width: 89vw;
  margin: 0 auto;
  padding: 25px 0px 25px 10px;
  text-decoration: none;
  box-shadow: 2px 5px 10px #CDCDCD;
  border-radius: 10px;
  font-weight: 500;
  font-size: 1.3em;
}

section:nth-of-type(1) {
  position: relative;
}

section:nth-of-type(2) {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
}

section:last-of-type {
  display: flex;
  flex-direction: column;
}

section ul li {
  padding: 20px;
  border-bottom: 1px solid #DCDCDC;
  
}

section ul li:last-of-type {
  margin-bottom: 2.5em;
}

section ul li a {
  /* Linkjes 'Je creditcard activeren */
  text-decoration: none;
  font-size: 1.05em;
}

section ul li:nth-child(3) {
  margin-bottom: 5em;
}

section figure {
  width: 90%;
  margin: 0 auto;
}

section figure img {
  /* Afbeeldingen die niet in een section staan: */
  width: 100%;
}

section figure figcaption {
  text-align: center;
}

section article a {
  text-decoration: none;
}

section div article a figure {
  width: 94%;
  border: 1px solid #EEEEEE;
  margin: 0 auto;
  text-align: center;
  border-radius: 10px;
  box-shadow: 6px 6px 9px #CDCDCD;
  margin-bottom: 30px;
}

section div article a figure img {
  width: 100%;
  object-fit: cover;
  height: 210px;
  border-radius: 10px 10px 0px 0px;
}

section div article a figure figcaption {
  padding: 15px;
  border-radius: 0px 0px 10px 10px;
}

section:nth-child(4) figure figcaption {
  margin-top: 20px;
  color: #141240;
  font-style: normal;
}

section:nth-child(4) button {
  width: 30%;
  margin-top: 10px;
}

button:focus {
  outline: none;
}

input {
  width: 20em;
  border: solid 1px #EEEEEE;
  padding: 10px;
  padding-left: 42px;
  font-size: 1em;
  margin-bottom: 3em;
  border-radius: 5px;
  background-image: url('/images/searchIcon.png');
  background-size: 20px;
  background-position: 10px;
  background-repeat: no-repeat;
}


/* Before After atje voor Inputs als bonus: 'More...' links */

input::placeholder {
  /* BRON: https://css-tricks.com/almanac/selectors/p/placeholder/ */
  font-style: italic;
  font-size: 1rem;
  opacity: 0.5;
}

input:focus {
  /* BRON: https://stackoverflow.com/questions/3397113/how-to-remove-focus-border-outline-around-text-input-boxes-chrome*/
  outline: none;
  font-weight: 400;
  color: #333333;
  border: solid 1px #19187C;
}

.contentFoto {
  width: 100%;
  height: 150px;
  display: block;
  object-fit: cover;
  margin-bottom: 7rem;
}

.text {
  font-style: italic;
  width: 92vw;
  color: White;
  position: absolute;
  top: 6.5rem;
  opacity: 95%;
  margin-left: 1rem;
  margin-right: 1rem;
}

.textH1 {
  padding: 20px 40px 20px 10px;
  background-color: #302F89;
  border-radius: 10px 10px 0px 0px;
  font-size: 0.75rem;
}

.textp {
  font-weight: 500;
  font-size: 1em;
  text-align: right;
  padding: 20px 20px 20px 50px;
  background-color: #E9631A;
  border-radius: 0px 0px 10px 10px;
}


.btn {
  /* atje: Meer nieuws */
  text-align: center;
  font-style: normal;
  text-decoration: none;
  display: block;
  padding: 15px 5px;
  width: 90%;
  margin: 0 auto;
  border: 1px solid #19187C;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 800;
  color: #19187C;
}

.btn:hover {
  cursor: pointer;
  color: #427AC8;
  border: 1px solid #427AC8;
}

.btn1 {
  text-align: center;
  font-style: normal;
  text-decoration: none;
  display: block;
  padding: 15px 2px;
  width: 32%;
  margin: 0 auto;
  margin-top: 1em;
  border: 1px solid #19187C;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 800;
  color: #19187C;
}

  .btn1:hover {
    cursor: pointer;
    color: #427AC8;
    border: 1px solid #427AC8;
  }


/******************************************************************************
                            MOBILE FOOTER
*******************************************************************************/

footer {
  padding: 3em 0em 3em 1em;
  border-top: solid 1px #DCDCDC;
}

footer ul {
  list-style-type: none;
}

footer ul li a {
  font-style: normal;
  font-size: 1em;
  color: #AAAAAA;
  text-decoration: none;
}

footer nav ul:first-child li {
  margin-bottom: 0.5em;
}

footer ul:nth-child(2) {
  margin-top: 1em;
  display: flex;
}

footer ul:nth-child(2) li {
  margin-left: 0.75em;
}

footer ul:nth-child(2) li a {
  padding: 0.5em;
  border: 1px solid #AAAAAA;
  border-radius: 100%;
}

footer ul:nth-child(2) li:first-child {
  margin-left: 0;
}

footer ul li a:hover {
  color: black;
  text-decoration: underline;
}

footer ul:nth-child(2) li a:hover {
  border: 1px solid black;
}

footer ul li a i {
  color: #AAAAAA;
  margin: 1rem 0rem;
}

footer ul li a i:hover {
  color: black;
}

footer ul li a i:first-child {
  margin-left: 0;
  padding: 0.1em;
}


/******************************************************************************
                            LAPTOP HEADER
*******************************************************************************/

@media all and (min-width:768px) {
  /* .contentFoto {
  width: 100%;
  height: 420px;
  display: block;
  object-fit: cover;
} */
  header {
      display: flex;
      height: auto;
      width: 80%;
      margin: 0 auto;
  }

  header div ul li:first-child {
    margin-left: 18.5em;
  }

  header div ul li:last-child {
    margin-right: 22em;
  }

  header nav {
    position: absolute;
    top: 30px;
    left: 0;  
    z-index: 100;
    background-color: white;
  }
  header nav a img:first-of-type {
    position: absolute;
    width: 200px;
    margin-left: 14vw;
  }
  header a:nth-child(3) {
      visibility: visible;
      padding-top: 1.7rem;
      width: 30em;
      right: 9%;
  }

  .icons1 {
      visibility: hidden;
  }
  .icons {
      max-width: 18px;
      position: absolute;
      top: 5px;
      right: 25%;
  }
  .dropdownlijst {
      display: block;
      position: absolute;
      top: 80px;
      left: -5rem;
      width: 100vw;
      height: 300px;
      background: #fff;
      opacity: 0;
      visibility: hidden;
      transition: all 0.4s ease;
      border-bottom: 1px solid #000;
      padding: 40px;
      padding-right: 0em;
  }
  header nav ul li:hover .dropdownlijst {
      opacity: 1;
      visibility: visible;
      z-index: 10;
  }
  header nav ul li div div div {
      vertical-align: top;
      width: 230px;
      display: inline-block;
      margin-right: 1%;
  }
  header nav ul li div div div p {
      padding: 10px 0;
      transition: all 0.4s ease;
  }
  .tussenruimte {
      margin-left: 19%;
  }
  header nav ul {
    /* Alle ul's van de navigatie */
    list-style-type: none;
    display: flex;
    margin-top: 1rem; 
    margin-left: 25vw;
   }
   
   .text {
     transition: all 0.3s ease;
   }
   
   .text:hover {
  transform: scale(1.1);
}
}

/******************************************************************************
                            LAPTOP CONTENT index pagina
*******************************************************************************/

@media all and (min-width:768px) {
  section a div.text {
    width: 30em;
    right: 16em;
}
  /*****************************************
    Sectie 1, 8 <a> buttons:
******************************************/
  main {
    padding-top: 110px;
  }
  section:nth-of-type(2) {
      padding-bottom: 70px;
  }

  section:nth-of-type(2) div {
      display: flex;
      width: 70%;
      margin: 0 auto;
      flex-direction: row;
      flex-wrap: wrap;
  }
  section:nth-of-type(2) a {
      width: 20%;
      margin-top: 20px;
      transition: all 0.3s ease;
  }

  section:nth-of-type(2) a:hover {
    /* BRON: https://css-tricks.com/snippets/css/scale-on-hover-with-webkit-transition/ */
    transform: scale(1.1)
  }

  section article {
    transition: all 0.3s ease;
  }
  
  section article:hover {
    transform: scale(1.1);
  }
  
 
  /*****************************************
    Button 'Meer over ons':
******************************************/
  section:nth-child(4) button {
      width: 10%;
      padding: 15px 0px 15px 0px;
  }
  /*****************************************
      Section Kom maar op met die telefoon
******************************************/

  section:nth-of-type(3) div {
      margin: 4rem 0rem;
      display: flex;
      justify-content: center;
  }
  section:nth-of-type(3) div article {
    width: 25%;
  }

  section:nth-of-type(3) div article figcaption {
    height: 100%;
  }
  /*****************************************
      Search Bar onderaan de pagina:
******************************************/
  section:nth-of-type(5) input {
      display: block;
      width: 700px;
      margin: 0 auto;
      padding-left: 15px;
      background-position: right;
  }
  .contentFoto {
      width: 100%;
      height: 420px;
      display: block;
      object-fit: cover;
  }
}


/******************************************************************************
                            LAPTOP FOOTER
*******************************************************************************/
